<div class="row">
   <form action="">
    <div class="col-sm-5 form-group">
        <label for="name">Recipe Name</label>
        <input type="text" id="name" class="form-control" #name required>
    </div>
    <div class="col-sm-5 form-group">
        <label for="amount" >Description</label>
        <input type="text" id="amount" class="form-control" #desc>
    </div>
    <div class="col-sm-5 form-group">
        <label for="amount" >Image Link</label>
        <input type="text" id="amount" class="form-control" #imagePath>
    </div>
    <hr>
    <div class="col-xs-12">
       
        <button class="btn btn-success" (click)="regRecipe()">New Recipe</button>
    </div>
   </form>
</div>
<hr>
<div class="row">
    <div class="col-xs-12"  >
        
        <app-recipe-item *ngFor="let rec of recipes" [recipes]="rec"> </app-recipe-item>
    </div>
    
</div>


